/* .about-wrapper {
  background: #fff;
  padding: 2rem;
} */

.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
/* left tagline */
.about-left-tagline { 
  font-size: 1.5rem;
  font-weight: 600;
  color: #014AB9;
  text-transform: uppercase;
  font-family: "Poppins";
  margin-bottom:0;
}

.about-left-title{
  font-weight: "Montserrat";
  padding: 10px 0px;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
}

.about-stats{
  display: flex;
  gap: 10px;

}
.about-stats-box1,
.about-stats-box2,
.about-stats-box3{
  background-color: #526270;
  padding: 1.2rem;
  
}
.about-stats-box1 h3{
  font-size: 16px;
}