/* body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #222;
}

h1, h2, h3, h4, h5 {
  margin: 0;
} */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #222;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
